@media (max-width: 1999.98px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 2000px) and (max-width: 2999.98px) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 3000px) and (max-width: 4999.98px) {
  :root {
    font-size: 32px;
  }
}

@media (max-width: 614px) {
  .resizer-head {
    font-weight:100; 
    padding-bottom: 1.25rem; 
    color:#ffffff;
    font-size: 1.188rem;
  }
  .resizer-sub {
    max-width: 95vw;
    font-weight: 300; 
    color:#ffffff;
    font-size: 0.938rem;
  }
  .resizer-title {
    color: white;
    padding-top: 0.938rem;
    padding-bottom: 1.563rem;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.563rem;
  }
}
@media (min-width: 615px) {
  .resizer-head {
    font-weight:100; 
    padding-bottom: 1.25rem; 
    color:#ffffff;
    font-size: 2.188rem;
  }
  .resizer-sub {
    max-width: 95vw;
    font-weight: 300; 
    color:#ffffff;
    font-size: 1.25rem;
  }
  .resizer-title {
    color: white;
    padding-top: 0.938rem;
    padding-bottom: 1.563rem;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 3.125rem;
  }
}

@media (max-width: 1364.98px) {
  .inner-panel {
    margin-left: 0;
  }
  .leadership-span{
    border-radius: 0.625rem;
    padding-left: 0;
    padding-right: 0;
  }
  .col-hide {
    margin-right: 0;
    padding-left: 0;
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 1365px) {
  .leadership-span{
    margin-left: 0.313rem;
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 0.063rem;
  }
  .col-hide {
    margin-right: 0;
    margin-left: 0;
    display: block;
    visibility: visible;
  }
}

@media (max-width: 799.98px){
  .special-header{
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.25rem;
  }
  .hide-me{
    visibility: hidden;
    width: 0; 
    height: 0;
    object-fit: cover;
    overflow: hidden; 
  }
  .hide-me-alt{
    padding-top: 1.25rem;
    visibility: visible;
    font-family: 'Courier New', Courier, monospace; 
    color: white;
    text-align: center;
  }
}
@media (min-width: 800px){
  .special-header{
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 3.125rem;
  }
  .hide-me{
    display: block;
    margin: 0 auto;
    visibility: visible;
  }
  .hide-me-alt{
    height: 0;
    padding-top: 0;
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace; 
    color: white;
    text-align: center;
  }
}

html{
  scroll-behavior: smooth;
}

.nav-tab-helper{
  max-width: fit-content; 
  min-height: fit-content; 
  background: white; 
  padding: 0.625rem; 
  margin-right: 1.563rem; 
  border-radius: 0.563rem;
}

.tab-helper-fella{
  background: white; 
  border-radius: 0.563rem;
}

.subheader{
  font-family:'Courier New', Courier, monospace;
  font-size: large; 
  font-weight: bold;
}

.custom-image-caro{
  height: 95vh; 
  max-height: 95vh; 
  width: 100%; 
  padding-top: 0; 
  padding-right: 0; 
  padding-left: 0;
}

.image-corrector{
  object-fit: cover; 
  overflow: hidden; 
}
.carousel-button-helper {
  background: black;
  box-shadow: 0 0 0.313rem black;
  -moz-box-shadow: 0 0 0.313rem black;
  -webkit-box-shadow: 0 0 0.313rem black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.photo-caption{
  width: fit-content;
  font-weight: 100;
  margin: 0 auto;
  margin-bottom: 8.5vh;  
  color:#ffffff;
  font-family: "Courier New", Courier, monospace;
  line-height: normal;
  color: rgb(255, 255, 255);
  background: black;
  box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -moz-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -webkit-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.img-picker{
  display: block;  
  margin: 0 auto; 
  overflow: hidden;
  height: 100%;
  max-width: 100%;
}

.img-picker-alt{
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.625rem; 
  padding: 0;
}

.images-container{
  border-radius: 0.625rem; 
  background-color: white;
  padding: 0;
  height: 100%
}

.extra-images{
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 100%;
}

.hero-footer {
  background: url(Portraits/BottomPortrait.jpg) no-repeat center top;
  padding-top: 0.313rem;
  padding-left: 0.625rem;
  background-attachment: relative;
  background-position: center center;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: white;
  transition: background-image 1s ease-in-out;
}

.subtitle-aligner{
    padding-right: 0.625rem; 
    padding-top: 0.625rem; 
    float: top right;
    background-color: rgba(0, 0, 0, 0.03);
    padding-bottom: 1.25rem;
    background-clip: border-box;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
}

.card-head-colorer{
    margin-top: 0;
}

/* typed.js */

.typed {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  left: 0.625rem;
  line-height: 2;
  display: inline;
  color: rgb(255, 255, 255);
  background: black;
  box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -moz-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -webkit-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.me_name {
  font-family: "Courier New", Courier, monospace;
  margin-left: 0.625rem;
  line-height: normal;
  display: inline;
  color: rgb(255, 255, 255);
  background: black;
  box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -moz-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -webkit-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.typed-cursor {
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  margin-left: 0.625rem;
  background-color: black;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-footer {
  font-family: "Courier New", Courier, monospace;
  font-weight:300; 
  font-size: 1.25rem; 
  position: relative;
  left: 0.625rem;
  line-height: 3;
  display: inline;
  color: rgb(255, 255, 255);
  background: black;
  box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -moz-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -webkit-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.typed-footer > a {
  color: rgb(255, 255, 255);
}

.typed-footer > a:hover {
  color: #039be5;
  text-decoration: underline;
  cursor: pointer;
}


/* Credit to Amy Patterson for these responsive Bootstrap 4 Cards https://codepen.io/apatters/pen/ZEGvpyp , they have been slightly modified though.*/
body {
  padding-top: 1.25rem;
}

.card-deck .card {
  margin-top: 0.938rem;
  margin-bottom: 0.938rem;
  border-radius: 0.25rem;
}

@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -0.938rem;
    margin-left: -0.938rem;

  }
  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 0.938rem;
    margin-bottom: 0;
    margin-left: 0.938rem;
  }
}

.card-deck {
    margin: -0.938rem -0.938rem;
    justify-content: space-between;
}

.card-deck .card {
   margin: 0 0 1rem;
}

@media (max-width: 575.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
  .showtime{
    visibility: visible;
  }
  .card-text{
    font-size: 0.6rem;
  }
  .card-custom-title{
    font-size: 1rem;
    font-weight: 300;
  }
}

@media (min-width: 576px) and (max-width: 1549.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
  .showtime{
    visibility: visible;
  }
  .card-text{
    font-size: 0.8rem;
  }
  .card-custom-title{
    font-size: 1.5rem;
    font-weight: 300;
  }
}

@media (min-width: 1549px){
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
  .showtime{
    visibility: hidden;
  }
  .card-text{
    font-size: 1rem;
  }
  .card-custom-title{
    font-size: 2rem;
    font-weight: 300;
  }
}


/* Bootstrap 4 CSS */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.063rem solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0.063rem;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}
.card-text{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0.063rem solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 0.063rem) calc(0.25rem - 0.063rem) 0 0;
}
.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0.063rem solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 0.063rem) calc(0.25rem - 0.063rem);
}
.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}
.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.card-img, .card-img-bottom, .card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 100%;
  height: 18.75rem;
}
@media (max-width: 575.98px) {
  .card-img, .card-img-bottom, .card-img-top {
    padding-top: 0.5%;
    height: 10.75rem;
  }
}

@media (min-width: 576px) and (max-width:1549.98px) {
  .card-img, .card-img-bottom, .card-img-top {
    padding-top: 1%;
    height: 15.75rem;
  }
}

@media (min-width: 1550px){
  .card-img, .card-img-bottom, .card-img-top {
    height: 18.75rem;
  }
}

.card-img, .card-img-top {
  border-top-left-radius: calc(0.25rem - 0.063rem);
  border-top-right-radius: calc(0.25rem - 0.063rem);
}
.card-img, .card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 0.063rem);
  border-bottom-left-radius: calc(0.25rem - 0.063rem);
}
.card-group > .card {
  margin-bottom: 0.938rem;
}
@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-header,
  .card-group > .card:not(:last-child) .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-footer,
  .card-group > .card:not(:last-child) .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-header,
  .card-group > .card:not(:first-child) .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-footer,
  .card-group > .card:not(:first-child) .card-img-bottom {
    border-bottom-left-radius: 0;
  }
}
.card-columns .card {
  margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
.accordion > .card {
  overflow: hidden;
}
.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -0.063rem;
}


.btn-custom {
  background-color: green;
  border-color: green;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: darkgreen;
  border-color: darkgreen;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #1dcc00;
  border-color: #1dcc00;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.navbuttons {
  --side-nav-gap: 5vh;
  padding: 0.25em;
  position: fixed;
  margin-left: 50%;
  top: 20vh;
  background-color: rgba(0, 0, 0, 0);
  outline-color: rgba(0, 0, 0, 0);
  display: inline;
  text-align: right;
  z-index: 999;
  pointer-events: none;
  animation: fadeInAnimation ease-in 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.side-nav-label {
  margin-bottom: var(--side-nav-gap);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6vh; 
  margin-left: auto;
  margin-right: 5.5vh;
  margin-top: -2.9vh;
  white-space: nowrap;
  width: fit-content;
  line-height: normal;
  color: rgb(255, 255, 255);
  background: black;
  box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -moz-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -webkit-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  opacity: 0;
  transition: opacity 1s;
}

.side-nav-button:hover~ .side-nav-label {
  opacity: 1;
  transition: 0s;
}
.side-nav-button:active~.side-nav-label {
  opacity: 1;
}

.side-nav-button-visible ~.side-nav-label{
  transition: opacity 1s;
  opacity: 0;
}

.side-nav-button-special {
  margin-bottom: var(--side-nav-gap);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6vh;
  margin-left: auto;
  margin-right: 5.5vh;
  margin-top: -2.9vh;
  white-space: nowrap;
  width: fit-content;
  line-height: normal;
  color: rgb(255, 255, 255);
  background: black;
  box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -moz-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  -webkit-box-shadow: 0.375rem 0 0 0.313rem black, -0.375rem 0 0 0.313rem black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  transition: opacity 5s;
  opacity: 1;
}

.side-nav-button {
  pointer-events:all;
  margin-left: auto;
  margin-right: 0;
  width: 3.9vh;
  height: 3.9vh;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.734);
  color: none;
  border: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 2.2vh;
  vertical-align: bottom;
}

.icon-fixer {
  vertical-align: middle;
}